@model Graduation_Project.Models.Entity.TBLCATEGORY
@{
    ViewBag.Title = "CategoryCall";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("CategoryUpdate", "Category", FormMethod.Post))
            {
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        @Html.LabelFor(c => c.ID) @*The reason I use these commands here is to get the name of the columns directly. I could have defined a label instead.*@
        @Html.TextBoxFor(c => c.ID, new { @class = "form-control", @readonly = "readonly" })
        <br />
        @Html.LabelFor(c => c.NAME)
        @Html.TextBoxFor(c => c.NAME, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">Update</button>
    </div>
            }
